$backgroundcolor: red; 

$color1: #ff914d;
$color2: #7766C6 ;
$color3: #E0DFFD ;
$color4: #39b54a ;
$color5: #F9B0C3 ;
$color6: #ABC4FF ;
$color7: #ffcf24 ;

$fontText1: "Montserrat Alternates", sans-serif;
$fontText2:"Urbanist", sans-serif;