@import '../core/variables';

.crew-section {
    padding: 40px 20px;
    text-align: center;
    background-color: $color3; /* Fons clar per fer destacar les targetes */
    font-family: $fontText2;

    &__title {
        font-family: $fontText1;
        color: $color2; /* Lila Fosc */
        font-size: 2.5rem;
        margin-bottom: 5px;
    }
    
    &__subtitle {
        color: darken($color2, 10%);
        margin-bottom: 40px;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    &__container {
        display: grid;
        gap: 30px; /* Espai entre les targetes */
        
        /* ESCRITORI: 4 columnes, màxim 300px d'ample per targeta */
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        
        /* TAULETA: 3 columnes */
        @media (max-width: 1024px) {
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        }
        
        /* MÒBIL: 1 columna, es veurà com una llista o carrusel (si implementes un carrusel JS) */
        @media (max-width: 600px) {
            grid-template-columns: 1fr;
        }
    }
}