@import '../core/variables';

.crew-section {
    padding: 40px 20px;
    text-align: center;
    background-color: $color3; 
    font-family: $fontText2;

    &__title {
        font-family: $fontText1;
        color: $color2; 
        font-size: 2.5rem;
        margin-bottom: 5px;
    }
    
    &__subtitle {
        color: darken($color2, 10%);
        margin-bottom: 40px;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    
    &__container.swiper {
        padding-bottom: 50px; 
    }

  
    
    .swiper-pagination-bullet {
        background: $color2; 
        opacity: 0.7;
    }
    
    .swiper-pagination-bullet-active {
        background: $color1 ; 
        opacity: 1;
        transform: scale(1.1);
    }
    
    
    .swiper-button-next,
    .swiper-button-prev {
        color: $color2 ; 
        transition: color 0.3s;
        
        &:hover {
            color: $color1 ; 
        }
        
        
        @media (max-width: 640px) {
            display: none; 
        }
    }
    
    
    .swiper-button-next, .swiper-button-prev {
        top: 40%; 
    }
}