@import '../core/variables';

.footer {
    // LAYOUT BASE
    // Fons igual que el Header: Taronja Vius ($color1)
    background-color: $color1; 
    color: $color3; // Color de text: Clar (Lila/Blanc Trencant)
    font-family: $fontText2; 
    
    height: 100px;
    padding: 20px;
    width: 100%;
    
    // ALINEACIÓ
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    
    @media (max-width: 600px) {
        height: auto;
        flex-direction: column; 
        padding: 15px 0;
        gap: 10px;
    }
}

.footerlogo {
    width: 100px;
    object-fit: contain; 
}

// ESTILS DE LES ICONES
.fa-brands,
.fa-duotone,
.fa-solid,
.fa-regular {
    color: $color3; // Color base de les icones
    font-size: 22px; 
    margin: 0 5px; 
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
    
    &:hover {
        // En hover, utilitzem un color d'accent diferent, com el Groc ($color7) o el Rosa Suau ($color5)
        color: $color7; // Canviat a Groc per destacar sobre el Taronja
        transform: scale(1.3) rotate(5deg);
    }
}

.rrss.icons {
    display: flex;
    gap: 15px; 
    align-items: center;
}

.copiright.icons {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.9rem;
}

.copy {
    color: $color3; 
    text-decoration: none;
    
    &:hover {
        color: $color5; // Rosa Suau
    }
}